* {
  box-sizing: border-box;
}
:root {
  --bg-color: white;
  --text-color: black;
  --other-color: grey;
}
body[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
  --other-color: darkgrey;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-block-start: 60px;
}
.sweeper-table {
  table-layout: fixed;
}
.cell {
  width: 35px;
  height: 40px;
  background-color: var(--other-color);
  text-align: center;
  border: 0;
  padding: 0;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.5em;
  font-weight: bold;
}
p {
  background-color: var(--bg-color);
  display: inline-block;
  transition: background-color 0.5s;
}
.marked {
  cursor: crosshair;
}

.shown.mine {
  background-color: red;
}

.shown {
  background-color: lightblue;
}
h2 {
  background-color: white;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  transition: background-color 0.5s;
}
.hide {
  display: none;
}
.cell .marked img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.smiliy {
  width: 70px;
}
.cell.danger {
  background-color: orange !important;
}
.mines-around-1 {
  color: blue;
}
.mines-around-2 {
  color: green;
}
.mines-around-3 {
  color: red;
}
.mines-around-4 {
  color: darkblue;
}
.mines-around-5 {
  color: darkturquoise;
}
.hints {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.bulb {
  height: 60px;
  margin: 0 20px;
  /* background-color: yellow; */
}
